body {
font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link {
text-decoration: none;
color: #434455;
}
.logo-studio {
    color: #2e2f42;
        }
.nav .logo-nav {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
}

.list-header .link-header {
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px; 
        text-decoration: none;
}
.link-header:active {
    color: #404bbf;
}
.link-header:hover {
    color: #404bbf;
}
.link-header:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address .link:hover,
.address .link:focus {
    color: #404BBF;
}
.page-header {
    background-color: #2e2f42;
    padding: 188px 0;
}
.page-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        max-width: 496px;
}
.button {
    background: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
}
.button:hover,
.button:focus {
        background: #404BBF;
}
.button {
color: #FFF;
cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.section-title {
color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
letter-spacing: 0.02em;
    text-transform: capitalize;
}
.title {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}
.text {
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}
.section-drie {
    background-color: #F4F4FD;
}

.section-drie .section-drie-img {
    background-color: #FFFFFF;
}

.footer {
    background-color: #2E2F42;
}
.logo-footer {
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-decoration: none;
        }
.logo-studio-two {
                    color: #F4F4FD;
                }
.footer .text {
    color: #F4F4FD;
}
ul {
    list-style-type: none;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}
.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0; 
    margin-right: 0;
}
.header-container {
    display: flex;
    margin-right: 9px;
padding-left: 15px;
padding-right: 15px;
    align-items: baseline;
    margin: 0 auto;
}
.nav {
    display: flex;
    align-items: center;

}
.header {
        border-bottom: 1px solid #e7e9fc;
}
.section {
    padding: 120px;
}
.logo-container {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 76px;
}
.li-hed-container {
    gap: 40;
    align-self: flex-start;
}
.ad-container {
    gap: 40px;
    justify-content: flex-end
}
.footer-container {
    min-height: 100vh;
        display: flex;
        flex-direction: column;
}
main {
    flex-grow: 1;
}
.list-header {
    display: flex;
gap: 40px;
padding-top: 24px;
    padding-bottom: 24px;
}
.page-header {
    padding: 188px 0;
}
.section-twee {
    padding: 120px 0;
}
.sec-container {

}
.ul-caracter {
    display: flex;
    gap: 24px;
}
.ul-caracter:first-child {
    width: calc((100% - 72px) / 4);
}
.ti-drie {
    margin-bottom: 8px;
}
.visually-hidden {
   height: 1px;
   overflow: hidden;
   width: 1px;
white-space: nowrap;
clip-path: inset(50%);
   clip: rect(0 0 0 0);
   position: absolute;
}
